.current-thread-container {
  width: 100%;
}

.chat-container {
  height: 75%;
  overflow-y: auto;
  padding-top: 0.25rem;
  width: 70%;
  text-align: center;
  margin: auto;
}

$bubble-color: #007AFF;
$bubble-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$reply-bubble-color: #708090;

.message {
  color: white; // Text color
  padding: 10px 15px;
  border-radius: 20px; // Adjust to make the bubble more or less rounded
  box-shadow: $bubble-shadow;
  max-width: 50%; // Adjust to control the maximum width of the bubble
  margin-bottom: 10px;
}

.user {
  @extend .message;
  background-color: $bubble-color;
  float: right; // Align to the right for user messages
}

.assistant {
  @extend .message;
  float: left; // Align to the left for assistant's messages
  background-color: $reply-bubble-color !important;
  margin-top: 10px;
}

.input-container {
  width: 100%;
  text-align: center;
  margin: auto;
}

.input-container input {
  padding: 5px;
}

.input-container button {
  padding: 5px 10px;
  margin: 10px;
}
